@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito:wght@700;900&family=Poppins:wght@500&family=Raleway:wght@500&family=Work+Sans:wght@400;500&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.box {
    border: 1px solid var(--Gray-5, #E0E0E0);
    padding: 21px 16px;
}

.box div {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.box h4 {
    color: var(--akana-green, #156963);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.box p {
    color: var(--kq-black, #2C1500);
    font-size: 10px;
    font-weight: 400;
    line-height: 16px; /* 160% */
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-btn {
    border: none;
    background-color: transparent;
}

.icon-btn:nth-child(2) {
    margin-left: 40px;
    margin-right: 8px;
}

.header {
    padding: 40px 0;
}

.text-btn {
    padding: 8px 30px;
    border: none;
    background-color: transparent;
    color: var(--akana-green, #156963);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.contained-btn {
    padding: 8px 30px;
    color: #FFF;
    border: none;
    background-color: #156963;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.hero {
    padding: 70px 0;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-wrapper h1 {
    color: var(--akana-green, #156963);
    font-family: Montserrat;
    font-size: 68px;
    font-weight: 500;
    width: 523px;
    margin-bottom: 24px;
}

.hero-wrapper p {
    color: var(--kq-black, #2C1500);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    width: 523px;
}

.hero-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 70px;
}

.hero-action img {
    margin-top: -472px;
}

.large-btn {
    padding: 40px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.large-btn span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.large-btn span:nth-child(1) {
    font-size: 24px;
    color: var(--Gray-1, #333);
}

.large-btn span:nth-child(2) {
    font-size: 32px;
    font-weight: 500;
}